@model PollVM
<div class="index-container">
    <div class="subcontainer">
        <h1 class="title">@Model.Poll.Question</h1>
        <form method="POST" asp-action="SubmitVote">
            <div class="form-container poll-container">
                <div class="poll-options-container">
                    @if(Model.PollSetting.HideResults && Model.Poll.UserId != Model.CurrentUserId)
                    {
                        <input type="hidden" name="hide-results" value="@Model.PollSetting.HideResults" id="hide-results">
                    }
                    <input type="hidden" name="total-votes" value="@Model.TotalVotes" class="total-votes">
                    <input asp-for="SelectedOptionId" type="hidden" class="option-id" />
                    <input asp-for="Poll.Id" type="hidden" value="@Model.Poll.Id" />
                    @foreach (var option in Model.PollOptions)
                    {
                        <div class="poll-option @(Model.SelectedOption != null && Model.SelectedOption.Id == option.Id ? "poll-option-selected" : "")">
                            <input type="hidden" name="percentage" value="0">
                            <input type="hidden" name="option-vote-count" value="@option.VoteCount">
                            <input type="hidden" value="@option.Id">
                            <div class="option-progress"><span></span></div>
                            <p>@option.Option</p>
                            <p>@option.Option</p>
                        </div>
                    }
                </div>
                <div class="poll-side-info">
                    <p>Poll Code: @Model.Poll.Code</p>
                    <p>Total Votes: @Model.TotalVotes</p>
                    @if (Model.HasEnded)
                    {
                        <p style="color: red">This poll has ended</p>
                    }
                    else if (Model.PollSetting.VoteLimit != null) {
                        <p style="color: red">Ends after: @(Model.PollSetting.VoteLimit - Model.TotalVotes) votes</p>
                    }
                    else if (Model.PollSetting.Deadline != null) {
                        <p style="color: red">Ends on: @Model.PollSetting.Deadline</p>
                    }
                </div>
                @if (!Model.HasEnded && Model.SelectedOption == null)
                {
                    <button type="submit" class="button submit-button">Submit</button>
                }
                else if (!Model.HasEnded && Model.SelectedOption != null)
                {
                    <h2 class="voted-text">You have already voted!</h2>
                }
            </div>
        </form> 
    </div>
</div>

@section Scripts {
    <script src="~/js/poll-progress.js" asp-append-version="true"></script>
}